@use "styles/utils";

.header + .main-wrapper > .main > *:first-child {
    margin-top: 0;
}

html:has( .header--open-menu) {
    overflow-y: hidden;
    overflow-y: clip;

    body {
        overflow-y: hidden;
        overflow-y: clip;
    }
}

body._active-menu {
    .header {
        color: var(--base300);

        &__inner::after {
            background-color: var(--base300);
            @include utils.transition(background-color);
        }

        &__logo {
            filter: var(--filter-black);
            @include utils.transition(filter);
        }

        &__menu-item-text {
            opacity: .5;
            @include utils.transition(opacity);
        }

        &__call-button {
            @include utils.transition((background-color, color));
            color: var(--base100);
            background-color: var(--primary);
        }
    }

    &::after {
        content: "";
        position: fixed;
        z-index: 5;
        background-color: hsl(215, 100%, 2%, 0.65);
        inset: 0;
    }
}

.header.header--sticky {
    &::after {
        opacity: 1;
        visibility: visible;
    }
}

.header.header--sticky:not(.header--open-menu) {
    color: var(--base300);

    .container {
        z-index: 10;
        position: relative;
    }

    .header {
        &__inner::after {
            display: none;
        }

        &__logo {
            filter: var(--filter-black);
            @include utils.transition(filter);
        }

        &__call-button {
            @include utils.transition((background-color, color));
            color: var(--base100);
            background-color: var(--primary);
        }

        &__menu-btn {
            &::before, &::after {
                background-color: var(--base300);
            }
        }
    }
}

// Default state
.header {
    position: fixed;
    z-index: 11;
    width: 100%;
    color: var(--base100);
    @include utils.transition((background-color, color, border-radius, padding));

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: hsl(0deg 0% 100% / 70%);
        backdrop-filter: blur(20px);
        border-radius: 0 0 10px 10px;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        @include utils.transition((opacity,visibility));
    }

    &__inner {
        position: relative;
        padding: 25px 0;
        display: flex;
        align-items: center;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            pointer-events: none;
            background: var(--base100);
        }
    }

    &__mobile-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__menu-btn {
        position: relative;
        width: 40px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &::before, &::after {
            content: "";
            width: 100%;
            height: 1.5px;
            background-color: var(--base100);
            @include utils.transition(background-color);
        }
    }

    &__logo-wrapper {
        position: relative;
        z-index: 1;
    }

    &__logo {
        width: 173px;
        height: 39px;
        object-fit: contain;
        object-position: left;
    }

    &__menu-wrapper {
        margin-right: 40px;
        margin-left: 83px;
    }

    &__menu {
        @include utils.clear-list;
        display: flex;
        align-items: center;
        gap: 25px;
        @include utils.text-base-400-reg-100;
    }

    &__menu-item {
        position: relative;
    }

    &__menu-item {
        @include utils.hover {
            &:not(.header__menu-item--detailed) > .header__menu-item-text {
                opacity: .5;
            }
        }

        @include utils.only-hover {
            & > .header__submenu {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__menu-item--detailed:hover &__menu-item-text {
        opacity: 1 !important;
    }

    &__menu-item-text {
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        cursor: pointer;
        @include utils.transition(opacity);

        &[data-num] {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &[data-num]::after {
            content: attr(data-num);
            @include utils.circle(24px);
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--base300);
            font: 500 1rem/1 var(--geologica);
            letter-spacing: 0.01em;
            background-color: var(--base100);
        }
    }

    &__menu-item--detailed &__submenu {
        position: fixed;
        z-index: initial;
        top: 0;
        right: 0;
        left: 0;
        padding: 130px 80px 80px;
        width: 100%;
        display: flex;
        border-radius: 0 0 32px 32px;
        gap: 100px;

        &-list {
            @include utils.text-base-300-lg-100;
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            border-bottom: 0;
            grid-template-columns: repeat(4, 1fr);
            gap: 12px 48px;

            li, a {
                width: max-content;
            }
        }

        &-link {
            padding: 20px 20px 25px;
            max-width: 365px;
            height: 115px;
            flex-shrink: 0;
            align-items: end;
            color: var(--base100);
            @include utils.bg-defaults(cover);
            background-image: url("assets/static/more-bg.jpg?as=webp");
            border-radius: 24px;

            &:hover {
                color: var(--base100);
            }

            &::after {
                position: relative;
                top: 5px;
                background-image: url("assets/icons/arrow-white.svg");
                border-color: var(--base100);
                filter: initial;
            }

            &:hover::after {
                background-color: var(--base100);
                background-image: url("assets/icons/arrow.svg");
            }
        }
    }

    &__submenu {
        position: absolute;
        z-index: 10;
        top: calc(100% + var(--submenu-offset));
        left: -25px;
        padding: 30px;
        width: max-content;
        color: var(--base300);
        opacity: 0;
        visibility: hidden;
        background-color: #f3f3f3;
        border-radius: 20px;
        --submenu-offset: 40px;
        @include utils.text-base-400-reg-100;
        @include utils.transition((visibility, opacity));
    }

    &__submenu-list {
        @include utils.clear-list;
        margin-bottom: 12px;
        padding-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        border-bottom: 1px solid hsl(0, 0%, 18%, .15);
        gap: 30px;

        :is(a, span) {
            width: 100%;
            display: block;
        }
    }

    &__submenu-link {
        @include utils.text-btn;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primary);

        @include utils.hover {
            color: hsla(216, 79%, 35%, 1);

            &::after {
                background-color: hsla(216, 79%, 35%, 1);
                background-image: url("assets/icons/arrow-white.svg");
                filter: none;
            }
        }

        &::after {
            content: "";
            @include utils.square(24px);
            display: block;
            background-image: url("assets/icons/arrow.svg");
            @include utils.bg-defaults;
            background-size: 11px;
            border-radius: 8px;
            border: 1px solid var(--primary);
            filter: var(--filter-primary);
        }
    }

    &__contacts-wrapper {
        position: relative;
        z-index: 1;
        margin-right: 80px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .header__call-button {
        position: relative;
        z-index: 1;

        @include utils.hover {
            background-color: hsl(0, 0%, 100%, .2);
            @include utils.transition(background-color);
        }
    }

    &__tel {
        @include utils.text-base-200-reg-100;
    }

    &__tel-text {
        text-transform: uppercase;
        opacity: .7;
    }

    &__email {
        margin: 10px 0 20px;
        display: none;
    }

    &__address {
        margin-bottom: 30px;
        display: none;
        font: 300 1.4rem/1.25 var(--geologica);
        opacity: .5;
    }

    &__tel-text {
        @include utils.text-base-500-lg-100;
    }
}

@media only screen and (max-width: 1460px) {
    .header {
        &__contacts-wrapper {
            margin-right: 45px;
        }
    }
}

@media only screen and (max-width: utils.$desktop1366) {
    .header {
        &__menu-wrapper {
            margin-left: 60px;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .header {
        &__menu-wrapper {
            margin-left: 45px;
        }

        &__contacts-wrapper {
            margin-right: 25px;
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .header + .main-wrapper > .main > *:first-child {
        margin-top: 0;
    }

    .header {
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100lvh;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            background: var(--gradient_large);
            @include utils.transition((opacity, visibility));
        }

        &__inner {
            padding: 0;
            border-bottom: 0;
        }

        &__logo {
            width: 148px;
            height: 30px;
        }

        &__logo-wrapper {
            z-index: initial;
            padding: 15px 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid hsl(0, 0%, 100%, .2);
        }

        &__mobile-wrapper {
            position: fixed;
            bottom: 0;
            left: 0;
            padding: 20px 25px 25px;
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            opacity: 0;
            visibility: hidden;
            @include utils.transition((opacity, visibility));
        }

        &__menu-btn {
            display: flex;
        }

        &__menu-wrapper {
            margin: 0 0 100px;
            width: 100%;
        }

        &__menu {
            width: 100%;
            flex-direction: column;
            gap: 0;
        }

        &__menu-item {
            width: 100%;
            border-bottom: 1px solid hsl(0, 0%, 100%, .2);

            &:last-of-type {
                border-bottom: 0;
            }

            &._active {
                .header__menu-item-text {
                    padding-bottom: 15px;
                }

                .header__menu-item-text::before {
                    scale: -1;
                }

                .header__submenu {
                    display: block;
                }
            }

            &._active.header__menu-item--detailed {
                .header__menu-item-text {
                    padding-bottom: 20px;
                }

                .header__submenu {
                    visibility: visible;
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        &__menu-item-text {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font: 1.6rem/1.25 var(--bowler);

            &[data-num]::after {
                display: none;
            }

            &::before {
                content: "";
                width: 10px;
                height: 6px;
                display: block;
                order: 1;
                @include utils.bg-defaults;
                background-image: url("assets/icons/small-arrow.svg");
            }
        }

        &__menu-item:not(:has( .header__submenu)) &__menu-item-text {
            &::before {
                rotate: -90deg;
            }
        }

        &__menu-item--detailed &__submenu {
            z-index: 10;
            padding: 0 25px 25px;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            flex-direction: column;
            color: var(--base300);
            background-color: var(--base100);
            border-radius: 0;
            inset: 0;
            gap: 0;
            pointer-events: none;
            @include utils.transition((opacity, visibility));

            .header__logo-wrapper {
                filter: var(--filter-black);
            }

            &-list {
                margin-top: 40px;
                height: 100%;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
            }

            &-link {
                margin-top: 35px;
                height: fit-content;
                display: flex;

                &::after {
                    top: initial;
                }
            }

            .header__menu-item-text {
                padding: 0;

            }
        }

        &__submenu {
            position: initial;
            padding: 0 0 20px;
            display: none;
            color: var(--base100);
            opacity: 1;
            visibility: visible;
            background-color: transparent;
        }

        &__submenu-list {
            margin: 0;
            padding: 0;
            width: 100%;
            border-bottom: 0;
            gap: 15px;

            .header__menu-item {
                opacity: .7;
                border-bottom: 0;
            }

            .header__menu-item-text {
                padding: 0 !important;
                font: 300 1.3rem/1.15 var(--geologica);

                &::before {
                    display: none;
                }
            }
        }

        &__submenu-link {
            display: none;
        }

        &__contacts-wrapper {
            margin: auto 0 0;
            width: 100%;
            gap: 0;
        }

        &__tel {
            margin-bottom: 5px;
            font: 2.2rem/1.14 var(--bowler);
        }

        &__tel-text {
            font: 1.4rem/1.45 var(--geologica);
        }

        &__email {
            display: flex;
        }

        &__address {
            display: block;
        }
    }
}

// Opened state
@media only screen and (max-width: utils.$tablet1000) {
    .header--open-menu {
        z-index: 20;

        &::before {
            visibility: visible;
            opacity: 1;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        .header__menu-btn {
            @include utils.square(22px);

            &::before, &::after {
                position: absolute;
                width: 30px;
            }

            &::before {
                rotate: -45deg;
            }

            &::after {
                rotate: 45deg;
            }
        }

        .header__mobile-wrapper {
            opacity: 1;
            visibility: visible;
        }
    }
}