include layout/utils

-
  var clients =[
    require('assets/content/client1.png?as=webp'),
    require('assets/content/client2.png?as=webp'),
    require('assets/content/client3.png?as=webp'),
    require('assets/content/client1.png?as=webp'),
    require('assets/content/client1.png?as=webp'),
    require('assets/content/client2.png?as=webp'),
    require('assets/content/client2.png?as=webp'),
    require('assets/content/client1.png?as=webp'),
    require('assets/content/client2.png?as=webp'),
    require('assets/content/client3.png?as=webp'),
    require('assets/content/client1.png?as=webp'),
    require('assets/icons/cube.svg'),
    require('assets/content/solution1.png?as=webp'),
    require('assets/content/call-popup-image.png?as=webp'),
  ]


.our-clients
  h2.our-clients__title наши клиенты лидеры в своих сферах
  .swiper.our-clients__list
    .swiper-wrapper
      each item in clients
        .swiper-slide.our-clients__item
          +img(item)
