@use 'styles/utils';

.seo {
  &:not(:first-child) {
    margin-top: 80px;
  }

  &:not(:last-child) {
    padding: 80px 0;
  }

  &__content {
    background-color: var(--base200);
    border-radius: 40px;
    padding: 40px;
  }

  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

    &._opened {
      -webkit-line-clamp: initial;
    }
  }

  h2 {
    @include utils.text-header-400;
    margin-bottom: 16px;
  }

  p {
    @include utils.text-base-200-lg-100;
    opacity: .5;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 38.5px;

    &-btn {
      @include utils.text-btn;
    }

    &-arrow {
      @include utils.bg-defaults(auto);
      width: 24px;
      height: 24px;
      border-radius: 8px;
      border: 1px solid black;
      background-image: url("assets/icons/arrow.svg");
      transform: rotate(90deg);
    }
  }

  @media screen and (max-width: 1000px) {
    margin-top: 40px;

    &__content {
      padding: 20px;
      border-radius: 25px;
    }

    &__text {
      -webkit-line-clamp: 10;
    }

    &__controls {
      margin-top: 20px;
    }
  }
}