@use 'styles/utils';

.industry {
  .section-title-wrapper {
    margin-bottom: 43px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &__item {
      display: flex;
      padding: 30px;
      margin: 0 -30px;
      position: relative;

      @include utils.hover {
        background-color: hsla(0, 0%, 100%, 0.2);
        border-radius: 20px;
      }

      &:not(:last-child) {
        &::after {
          content: '';
          display: block;
          position: absolute;
          height: 1px;
          right: 30px;
          left: 30px;
          bottom: 0;
          background-color: hsla(0, 0%, 100%, .2);
        }
      }

      &-part {
        width: 50%;
        display: flex;
        gap: 40px;
        align-items: center;

        &:last-child {
          gap: 0;
          justify-content: space-between;
        }
      }

      &-img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;
        border-radius: 16px;
      }

      &-title {
        @include utils.text-header-400;
        width: 500px;
      }

      &-description {
        @include utils.text-base-300-lg-100;
        opacity: .5;
        width: 395px;
      }

      &-icon {
        @include utils.bg-defaults(auto);
        background-image: url("assets/icons/arrow.svg");
        filter: var(--filter-white);
        border: 1px solid var(--base100);
        opacity: .5;
        width: 36px;
        height: 36px;
        border-radius: 8px;
        padding: 10.5px;
      }
    }
  }

  .btn {
    margin: auto;
  }
}

@media only screen and (max-width: utils.$tablet1000) {
  .industry {
    .section-title-wrapper {
      margin-bottom: 20px;
    }

    &-list {
      margin-bottom: 30px;

      &__item {
        flex-direction: column;
        gap: 15px;

        &:not(:last-child) {
          padding-bottom: 20px;
        }

        &:not(:first-child) {
          padding-top: 20px;
        }

        &-part {
          justify-content: space-between;
          flex-direction: row-reverse;
          gap: 0;
          width: 100%;
        }

        &-title {
          width: 194px;
        }

        &-description {
          width: 100%;
        }

        &-img {
          width: 70px;
          height: 70px;
        }

        &-icon {
          display: none;
        }

      }
    }
  }
}
