include layout/utils

.content
  .container
    .section-title ваша компания не только повысит логистику предприятия,
      span но и улучшит качество своего сервиса
    .content-title системы мониторинга
    p Компания СМАРТ осуществляет продажу, установку и обслуживание систем спутникового ГЛОНАСС\GPS мониторинга транспорта. Внедряем системы мониторинга на любой вид транспорта: легковой транспорт, грузовые автомобили, спецтехнику, сельскохозяйственные машины и трактора, топливозаправщики, поезда, водоплавающие средства: катера, лодки, яхты и прочее.
    +img(require('assets/content/content-image.jpg?as=webp'))
    .content-title О компании
    h3 Авторизованый партнер ГК СКАУТ в Краснодарском крае
    p Компания СМАРТ осуществляет продажу, установку и обслуживание систем спутникового ГЛОНАСС\GPS мониторинга транспорта. Внедряем системы мониторинга на любой вид транспорта: легковой транспорт, грузовые автомобили, спецтехнику, сельскохозяйственные машины и трактора, топливозаправщики, поезда, водоплавающие средства: катера, лодки, яхты и прочее.
    p Персональный подход к каждому клиенту, высококачественное оборудование и своевременная оперативная поддержка и сервисы - вот на что мы делаем акцент в нашей работе. Благодаря такому подходу наша компания имеет репутацию надежного партнера и мы этой репутацией дорожим. Мы работаем с организациями всех калибров, от небольших предприятий и индивидуальных предпринимателей, до крупных федеральных заказчиков и иностранных компаний. И для всех мы одинаково стараемся сделать наше сотрудничество удобным, комфортным и взаимовыгодным
    ul
      li Давно зарекомендовавшее себя ПО, гибкий функционал, высокая стабильность и идеальное приложение для руководителейДавно зарекомендовавшее себя ПО, гибкий функционал, высокая стабильность и идеальное приложение для руководителей
      li Самый популярный сервис в России, поддержка практически всех видов оборудованияСамый популярный сервис в России, поддержка практически всех видов оборудованияДавно зарекомендовавшее себя ПО, гибкий функционал, высокая стабильность и идеальное приложение для руководителейДавно зарекомендовавшее себя ПО, гибкий функционал, высокая стабильность и идеальное приложение для руководителей
      li Отличное ПО для небольших автопарков, лучшее соотношение цены и качества. Зарегистрирован в реестре отечетсвенного ПО.Давно зарекомендовавшее себя ПО, гибкий функционал, высокая стабильность и идеальное приложение для руководителейДавно зарекомендовавшее себя ПО, гибкий функционал, высокая стабильность и идеальное приложение для руководителей
      li Давно зарекомендовавшее себя ПО, гибкий функционал, высокая стабильность и идеальное приложение для руководителейДавно зарекомендовавшее себя ПО, гибкий функционал, высокая стабильность и идеальное приложение для руководителейДавно зарекомендовавшее себя ПО, гибкий функционал, высокая стабильность и идеальное приложение для руководителей
    p Компания "СМАРТ" является авторизованным партнером Группы Компании "СКАУТ" в Краснодарском крае - одного из лидеров на рынке систем мониторинга. Мы предлагаем уникальные решения в сфере ГЛОНАСС мониторинга транспорта, только качественное самое современное оборудование и удобное программное обеспечение.

    .content-title партнерство
    h4 Авторизованый партнер ГК СКАУТ в Краснодарском крае
    p Компания "СМАРТ" является авторизованным партнером Группы Компании "СКАУТ" в Краснодарском крае - одного из лидеров на рынке систем мониторинга. Мы предлагаем уникальные решения в сфере ГЛОНАСС мониторинга транспорта, только качественное самое современное оборудование и удобное программное обеспечение.
    ol
      li С другой стороны консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Равным образом постоянный количественный рост и сфера нашей активности.
      li С другой стороны консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Равным образом постоянный количественный рост и сфера нашей активности.
      li С другой стороны консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Равным образом постоянный количественный рост и сфера нашей активности.
      li С другой стороны консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Равным образом постоянный количественный рост и сфера нашей активности.
    blockquote
      p «Персональный подход к каждому клиенту, высококачественное оборудование и своевременная оперативная поддержка и сервисы - вот на что мы делаем акцент в нашей работе. Благодаря такому подходу наша компания имеет репутацию надежного партнера и мы этой репутацией дорожим. Мы работаем с организациями всех калибров, от небольших предприятий и индивидуальных предпринимателей, до крупных федеральных заказчиков и иностранных компаний. И для всех мы одинаково стараемся сделать»
      footer Иванов Иван Иванович, генеральный директор