extends layout/page

prepend head
    - title = 'Главная'

append main
    include components/main-hero/main-hero
    .section-wrapper.section-wrapper--white
        include components/solutions/solutions
    .section-wrapper.section-wrapper--gradient
        include components/products/products
        include components/benefits/benefits
    include components/about-company/about-company
    .section-wrapper.section-wrapper--gradient
        include components/reviews/reviews
        include components/our-clients/our-clients
    .section-wrapper.section-wrapper--white
        include components/projects/projects
        include components/seo/seo

