extends layout/page

append main
    include components/page-hero/page-hero
    +page-hero({
        title: 'проекты',
        text: 'Целевая аудитория, следовательно, раскручивает пак-шот. Экономия времени и ресурсов, качественный результат, быстрое внедрение и повышение.',
        picture: require('assets/content/page-hero-image.png?as=webp'),
        mobPicture: require('assets/content/mob-page-hero-img.jpg?as=webp'),
        mode: true
    })
    .section-wrapper.section-wrapper--white
        include components/solutions/solutions
    .section-wrapper.section-wrapper--gradient
        include components/sales/sales
        include components/products/products
        include components/benefits/benefits
    .section-wrapper
        include components/about-company/about-company
    .section-wrapper.section-wrapper--gradient
        include components/reviews/reviews
        include components/our-clients/our-clients
    .section-wrapper.section-wrapper--white
        include components/projects/projects
        include components/seo/seo
