extends layout/page

append main
    include components/page-hero/page-hero
    +page-hero({
        title: 'проекты',
        text: 'Целевая аудитория, следовательно, раскручивает пак-шот. Экономия времени и ресурсов, качественный результат, быстрое внедрение и повышение.',
        picture: 'assets/content/page-hero-image.png',
        mobPicture: 'assets/content/mob-page-hero-img.jpg',
        mode: true
    })
    .section-wrapper.section-wrapper--white
        include components/solutions/solutions
    .section-wrapper.section-wrapper--gradient
        include components/products/products
        include components/benefits/benefits
        include components/our-clients/our-clients
    .section-wrapper.section-wrapper--white
        include components/gallery/gallery
    .section-wrapper.section-wrapper--white
        include components/specialists/specialists
        include components/content/content
        include components/seo/seo
