include layout/utils

-
  var specialists = [
    {
      name: 'Иванов Иван', position: 'Генеральный директор', tel: '8 (927) 080-27-27',
      photo: require('assets/content/specialist-1.png?as=webp')
    },
    {
      name: 'петров александр', position: 'Коммерческий директор', tel: '8 (927) 080-27-27',
      photo: require('assets/content/specialist-2.png?as=webp')
    },
    {
      name: 'Иванов Иван', position: 'Управляющий партнер', tel: '8 (927) 080-27-27',
      photo: require('assets/content/specialist-1.png?as=webp')
    },
    {
      name: 'петров александр', position: 'Главный разработчик', tel: '8 (927) 080-27-27',
      photo: require('assets/content/specialist-2.png?as=webp')
    },
    {
      name: 'Иванов Иван', position: 'Генеральный директор', tel: '8 (927) 080-27-27',
      photo: require('assets/content/specialist-1.png?as=webp')
    },
    {
      name: 'петров александр', position: 'Главный разработчик', tel: '8 (927) 080-27-27',
      photo: require('assets/content/specialist-2.png?as=webp')
    },
  ]

.specialists
  .container
    h2.section-title Специалисты
    .section-title-wrapper
    .swiper
      .swiper-wrapper
        each item in specialists
          .swiper-slide.specialists__item
            +img(item.photo).specialists__item-image
            .specialists__item-name #{item.name}
            .specialists__item-position #{item.position}
            .specialists__item-tel #{item.tel}
      .navigation-buttons
        .arrow-btn.arrow-btn--prev
        .arrow-btn.arrow-btn--next