@use "node_modules/swiper/swiper";
@use "styles/utils";

.other-sales {

  &__item {
    display: flex;
    border-radius: 40px;
    background-color: hsla(0, 0%, 100%, 0.1);
    height: auto;

    &-image {
      border-radius: 40px;
      width: 340px;
      height: 340px;
      object-position: center;
      object-fit: cover;
    }

    &-content {
      padding: 38px 40px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &-title {
      @include utils.text-header-300;;
      margin-bottom: 15px;
    }

    &-description {
      @include utils.text-base-200-lg-100;
      opacity: .5;
    }

    &-footer {
      border-top: 1px solid hsla(0, 0%, 100%, .15);
      opacity: .5;
    }

    &-button {
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      margin-left: -10px;
      margin-right: -10px;

      &::after {
        @include utils.bg-defaults(auto);
        background-image: url("assets/icons/arrow.svg");
        content: '';
        display: block;
        filter: var(--filter-white);
        width: 24px;
        height: 24px;
        border: 1px solid var(--base100);
        border-radius: 8px;
      }
    }
  }

  &-buttons {
    margin-top: 48px;

    .arrow-btn {
      background-color: hsla(0, 0%, 100%, 0.1);

      &::after {
        filter: var(--filter-white);
      }
    }
  }
}

@media only screen and (max-width: utils.$tablet1000) {
  .other-sales {
    &__item {
      flex-direction: column;
      border-radius: 15px;
      width: 310px;

      &-image {
        border-radius: 15px;
        width: 100%;
        height: 255px;
      }

      &-content {
        padding: 20px 20px 10px;
        gap: 35px;
      }

      &-footer {
        padding-top: 5px;
      }

      &-button {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0 -15px 0 -20px;
        width: auto;
      }
    }
    &-buttons {
      display: none;
    }
  }
}