@use "styles/utils";

.footer {
  padding-top: 93px;
  background: var(--gradient_small);
  color: var(--base100);

  &__top {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 100%, .2);
  }

  &__logo-block {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 16px;

    img {
      width: 239px;
      height: 55px;
      object-position: left;
      object-fit: contain;
    }
  }

  &__address {
    margin-bottom: 50px;
    @include utils.text-base-200-lg-100;
    opacity: .5;
  }

  &__tel {
    margin-bottom: 6px;
    @include utils.text-header-400;
  }

  &__schedule {
    margin-bottom: 12px;
    @include utils.text-base-400-reg-200;
    opacity: .5;
  }

  &__email {
    @include utils.text-base-200-reg-100;
  }

  &__menu {
    @include utils.reset-list;
    display: flex;
    gap: 73px;
  }

  &__menu-item-title {
    margin-bottom: 20px;
    @include utils.text-header-400;
    opacity: .5;
  }

  &__menu-item-list {
    @include utils.reset-list;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include utils.text-base-200-lg-100;
  }

  &__bottom {
    padding: 20px 0;
    display: flex;
    align-items: center;
  }

  &__scroll-button {
    display: flex;
    align-items: center;
    gap: 10px;
    @include utils.text-btn;

    &::after {
      content: '';
      position: relative;
      top: -2px;
      @include utils.square(24px);
      background-image: url('assets/icons/arrow.svg');
      filter: brightness(100);
      @include utils.bg-defaults;
      background-size: 12px;
      border-radius: 8px;
      border: 1px solid var(--base100);
      rotate: -90deg;
    }
  }

  &__policy {
    margin-left: auto;
    display: flex;
    gap: 40px;
    @include utils.text-base-400-reg-200;
    opacity: .5;
    text-transform: uppercase;
  }

  &__creators {
    margin-left: 200px;

    img {
      width: 110px;
      height: 30px;
      object-fit: contain;
      object-position: right;
    }
  }
}

@media only screen and (max-width: utils.$tablet1000) {
  .footer {
    padding-top: 25px;

    &__top {
      padding-bottom: 0;
      flex-direction: column;
    }

    &__logo {
      margin-bottom: 15px;

      img {
        width: 197px;
        height: 40px;
      }
    }

    &__address {
      margin-bottom: 35px;
    }

    &__tel {
      margin-bottom: 5px;
    }

    &__schedule {
      margin-bottom: 10px;
    }

    &__email {
      margin-bottom: 20px;
    }

    &__menu {
      flex-direction: column;
      gap: 0;
    }

    &__menu-item {
      border-bottom: 1px solid hsl(0, 0%, 100%, .15);

      &:last-of-type {
        border-bottom: 0;
      }

      &._active {
        .footer__menu-item-title::after {
          rotate: -180deg;
        }

        .footer__menu-item-list {
          display: flex;
        }
      }
    }

    &__menu-item-title {
      padding: 15px 0;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      line-height: 1.25;

      &::after {
        content: '';
        width: 10px;
        height: 6px;
        display: block;
        background-image: url('assets/icons/small-arrow.svg');
      }
    }

    &__menu-item:not(:has( .footer__menu-item-list)) &__menu-item-title {
      &::after {
        rotate: -90deg;
      }
    }

    &__menu-item-list {
      padding-bottom: 20px;
      display: none;
      gap: 15px;
      opacity: .7;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 1.15;
    }

    &__bottom {
      padding: 15px 0 20px;
      display: grid;
      row-gap: 20px;
    }

    &__policy {
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    &__creators {
      margin: 0;
      grid-column: 1;
      grid-row: 2;

      img {
        width: 91px;
        height: 25px;
        object-position: left;
      }
    }

    &__scroll-button {
      justify-self: end;
      gap: 8px;
      grid-column: 2;
      grid-row: 2;

      &::after {
        --size: 20px;
        background-size: 8px;
        border-radius: 6px;
      }
    }
  }
}