@use 'styles/utils';

.page-hero {
  position: relative;
  height: 840px;

  &__company {
    font: 400 37.1rem var(--bowler);
    color: var(--base100);
    opacity: .25;
    position: absolute;
    bottom: -150px;
    left:50%;
    transform:translateX(-50%);
  }

  &:has(.mode-content) {
    height: 435px;
  }

  &__wrapper {
    position: absolute;
    inset: 0;

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background: linear-gradient(174deg, rgba(2, 41, 100, 0.84) 0%, rgba(18, 67, 142, 0.84) 36.53%, rgba(41, 101, 193, 0.84) 100%);
      z-index: 1;
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    position: absolute;
    inset: 0;
    z-index: 2;
    padding-bottom: 111px;
    margin: 201px 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--base100);

    &._about {
      flex-direction: row;
      align-items: flex-start;
    }

    &.mode-content {
      flex-direction: row;

      .page-hero__text {
        align-items: flex-start;
      }
    }
  }

  &__title {
    @include utils.text-header-100;

    span {
      opacity: .5;
    }
  }

  &__text {
    @include utils.text-base-200-lg-100;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    p {
      opacity: .7;
      max-width: 432px;
    }

    .arrow {
      border: 1px solid hsla(0, 0%, 100%, 1);
      border-radius: 16px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        transform: rotate(90deg);
        filter: brightness(6);
      }
    }
  }


  @media screen and (max-width: utils.$tablet1000) {
    height: 100svh;
    max-height: 591px;

    &__company {
      font-size: 8rem;
      bottom: -13px;
    }

    &:has(.mode-content) {
      height: 337px;
    }

    &__content {
      margin: 126px 25px 0;
      padding-bottom: 45px;

      &.mode-content {
        flex-direction: column;
      }

      &._about {
        flex-direction: column;

        .page-hero__text {
          padding-bottom: 50px;
        }
      }
    }

    &__text .arrow {
      display: none;
    }
  }
}