include layout/utils

mixin page-hero(props)
  -
    props = Object.assign({
      title: '',
      text: '',
      picture: '',
      mobPicture: '',
    }, props || {})

  .section.page-hero
    .page-hero--wrapper
      picture
        source(srcset=props.mobPicture media='(max-width: 1000px)')
        +img(props.picture).page-hero--image
    .page-hero--content
      .title=props.title
      .text=props.text