@use 'styles/utils';

.sales {
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 48px;

    &__item {
      display: flex;
      border-radius: 40px;
      background-color: hsla(0, 0%, 100%, 0.1);

      @include utils.hover {
        .sales-list__item-button {
          opacity: 1;
        }
      }

      &-image {
        border-radius: 40px;
        width: 340px;
        height: 340px;
        object-fit: cover;
        object-position: center;
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 38px 37px 29px 40px;
      }

      &-title {
        @include utils.text-header-300;
        margin-bottom: 15px;
      }

      &-description {
        @include utils.text-base-200-lg-100;
        opacity: .5;
      }

      &-footer {
        margin-top: 20px;
        border-top: 1px solid hsla(0, 0%, 100%, .15);
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        margin: 0 -10px;
        opacity: .5;

        &::after {
          @include utils.bg-defaults(auto);
          background-image: url("assets/icons/arrow.svg");
          content: '';
          display: block;
          filter: var(--filter-white);
          width: 24px;
          height: 24px;
          border: 1px solid var(--base100);
          border-radius: 8px;
        }
      }
    }
  }
  &-button {
    margin: auto;
  }
}

@media only screen and (max-width: utils.$tablet1000) {
  .sales {
    &-list {
      grid-template-columns: 1fr;

      &__item {
        flex-direction: column;
        border-radius: 15px;

        &-content {
          padding: 20px 20px 10px;
          gap: 35px;
        }

        &-button {
          padding: 5px;
          margin: 0;
        }

        &-image {
          width: 330px;
          height: 330px;
          border-radius: 15px;
        }

        &-footer {
          padding-top: 10px;
        }
      }
    }
  }
}