@font-face {
  font-family: 'Geologica';
  src: url('assets/fonts/Geologica/Geologica-Light.woff') format('woff'), url('assets/fonts/Geologica/Geologica-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Geologica';
  src: url('assets/fonts/Geologica/Geologica-Regular.woff') format('woff'), url('assets/fonts/Geologica/Geologica-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Bowler';
  src: url('assets/fonts/Bowler/BOWLER.woff') format('woff'), url('assets/fonts/Bowler/BOWLER.woff2') format('woff2');
  font-weight: 600;
}
