@use "styles/utils";

html {
  overflow-x: clip;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.section-wrapper {
  position: relative;
  margin: -38px 0;
  width: 100%;

  &:first-child {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &--white {
    z-index: 2;
    padding: 80px 0;
    background-color: var(--base100);
    border-radius: 32px;
  }

  &--gradient {
    z-index: 1;
    padding: 188px 0;
    background-image: var(--gradient_large);
    color: var(--base100);

    &:has(.reviews) {
      border-top-right-radius: 32px;
      border-top-left-radius: 32px;
      padding-top: 80px;
    }
  }

  .section-wrapper + .section-wrapper {
    margin-top: 0;
  }
}

@media only screen and (max-width: utils.$tablet1000) {
  .section-wrapper {
    margin: -25px 0;

    &--white {
      padding: 25px 0;
      border-radius: 20px;
    }

    &--gradient {
      padding: 95px 0;

      &:has(.reviews) {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding-top: 23px;
      }
    }

    .swiper {
      overflow: visible;
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1680px;
}

@media only screen and (max-width: utils.$tablet800) {
  .container {
    padding: 0 25px;
  }
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  flex: 1 1 0;
}

.hidden {
  display: none;
}

body {
  overflow-x: clip;
  @include utils.text-base-200-reg-100;
  color: var(--base300);
}

html.disable-scroll {
  overflow: clip;

  body {
    overflow: clip;
  }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  box-sizing: border-box !important;
}
