@use "styles/utils";

html {
  overflow-x: clip;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.section-wrapper {
  position: relative;
  margin: -50px 0 -34px;
  width: 100%;
  border-radius: 32px;

  &:first-child {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:has( .seo) {
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      margin-bottom: -34px;
    }
  }

  &--white {
    z-index: 2;
    padding: 80px 0;
    background-color: var(--base100);
  }

  &--gradient {
    z-index: 1;
    padding: 150px 0;
    background-image: var(--gradient_large);
    color: var(--base100);
  }

  //&:has(> .reviews) {
  //  //margin: -50px;
  //}

  .section-wrapper + .section-wrapper {
    margin-top: 0;
  }
}

@media only screen and (max-width: utils.$tablet1000) {
  .section-wrapper {
    margin: -25px 0;
    border-radius: 20px;

    &--white {
      padding: 25px 0;
    }

    &--gradient {
      padding: 70px 0;
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1680px;
}

@media only screen and (max-width: utils.$tablet800) {
  .container {
    padding: 0 25px;
  }
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  flex: 1 1 0;
}

.hidden {
  display: none;
}

body {
  overflow-x: clip;
  @include utils.text-base-200-reg-100;
  color: var(--base300);
}

html.disable-scroll {
  overflow: clip;

  body {
    overflow: clip;
  }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  box-sizing: border-box !important;
}
