@use 'styles/utils';

:root {
  --base100: hsl(0, 0%, 100%);
  --base200: hsl(0, 0%, 95%);
  --base300: hsl(0, 0%, 18%);

  --yellow: hsl(61, 80%, 49%);
  --primary: hsl(216, 67%, 43%);
}

// Filter
:root {
  --filter-primary: brightness(0) saturate(100%) invert(28%) sepia(96%) saturate(906%) hue-rotate(191deg) brightness(95%) contrast(95%);
  --filter-black: brightness(0) saturate(100%) invert(11%) sepia(14%) saturate(294%) hue-rotate(149deg) brightness(91%) contrast(86%);
  --filter-white: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(16%) hue-rotate(229deg) brightness(105%) contrast(101%);
}

// Gradient
:root {
  --gradient_large: linear-gradient(165.22deg, #022964 6.69%, #12438E 41.87%, #2965C1 103%);
  --gradient_small: linear-gradient(171.33deg, #022964 -41.82%, #12438E -0.65%, #2965C1 93.38%);
}

// Fonts
:root {
  --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --bowler: 'Bowler', var(--sans);
  --geologica: 'Geologica', var(--sans);

  --header-100_fz: 7.4rem;
  --header-100: 400 var(--header-100_fz)/1.1 var(--bowler);

  --header-200_fz: 5.2rem;
  --header-200: 400 var(--header-200_fz)/1.15 var(--bowler);

  --header-300_fz: 3.6rem;
  --header-300: 400 var(--header-300_fz)/1.15 var(--bowler);

  --header-400_fz: 2.4rem;
  --header-400: 400 var(--header-400_fz)/1.15 var(--bowler);

  --text-base-100_fz: 3.2rem;
  --text-base-100-lg-100: 300 var(--text-base-100_fz)/1.25 var(--geologica);

  --text-base-200_fz: 2rem;
  --text-base-200-reg-100: 400 var(--text-base-200_fz) var(--geologica);
  --text-base-200-lg-100: 300 var(--text-base-200_fz)/1.25 var(--geologica);

  --text-base-300_fz: 1.6rem;
  --text-base-300-lg-100: 300 var(--text-base-300_fz)/1.25 var(--geologica);

  --text-base-400_fz: 1.3rem;
  --text-base-400-reg-100: 400 max(1.15rem, var(--text-base-400_fz)) var(--geologica);
  --text-base-400-reg-200: 400 max(1.15rem, var(--text-base-400_fz))/1.45 var(--geologica);

  --text-base-500_fz: 1.1rem;
  --text-base-500-lg-100: 300 max(1rem, var(--text-base-500_fz)) var(--geologica);

  --text-btn_fz: 1.3rem;
  --text-btn: 400 var(--text-btn_fz) var(--bowler);


  @media only screen and (max-width: utils.$tablet1000) {
    --header-100_fz: 3.7rem;
    --header-100: 400 var(--header-100_fz)/1 var(--bowler);

    --header-200_fz: 2.7rem;
    --header-200: 400 var(--header-200_fz)/1 var(--bowler);

    --header-300_fz: 2.2rem;
    --header-300: 400 var(--header-300_fz)/1.14 var(--bowler);

    --header-400_fz: 1.8rem;
    --header-400: 400 var(--header-400_fz)/1.11 var(--bowler);

    --text-base-100_fz: 2.2rem;
    --text-base-100-lg-100: 300 var(--text-base-100_fz)/1.14 var(--geologica);

    --text-base-200_fz: 1.5rem;
    --text-base-200-reg-100: 400 var(--text-base-200_fz) var(--geologica);
    --text-base-200-lg-100: 300 var(--text-base-200_fz)/1.15 var(--geologica);

    --text-base-300_fz: 1.4rem;
    --text-base-300-lg-100: 300 var(--text-base-300_fz)/1.25 var(--geologica);

    --text-base-400_fz: 1.2rem;
    --text-base-400-reg-100: 400 max(1.15rem, var(--text-base-400_fz)) var(--geologica);
    --text-base-400-reg-200: 400 max(1.15rem, var(--text-base-400_fz))/1.45 var(--geologica);

    --text-btn_fz: 1.2rem;
    --text-btn: 400 var(--text-btn_fz) var(--bowler);
  }
}
